asttokens
attrs
Babel
bcc
blinker
Brlapi
certifi
chardet
click
cloud-init
colorama
comm
command-not-found
configobj
cryptography
cupshelpers
dbus-python
debugpy
decorator
defer
distro
distro-info
executing
httplib2
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jsonpatch
jsonpointer
jsonschema
jupyter_client
jupyter_core
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
nest-asyncio
netaddr
netifaces
numpy
oauthlib
olefile
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pycairo
pycups
Pygments
PyGObject
PyJWT
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
pyzmq
requests
rich
screen-resolution-extra
setuptools
six
stack-data
systemd-python
tornado
traitlets
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
wadllib
wcwidth
wheel
xdg
xkit
